type drmservice, domain;
type drmservice_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(drmservice)

allow drmservice configfs:file { open write };
allow drmservice configfs:dir { search };
allow drmservice init:unix_stream_socket connectto;
allow drmservice proc:file { open read };
allow drmservice property_socket:sock_file write;
allow drmservice rknand_device:chr_file { ioctl open read write };
allow drmservice self:capability dac_override;
allow drmservice system_prop:property_service set;
allow drmservice wifi_data_file:file { open read write create getattr };
allow drmservice wifi_data_file:dir { search write add_name };

allow drmservice storage_device:chr_file { ioctl open read write };

# for oem_preset
allow drmservice media_rw_data_file:dir { add_name create setattr write };
allow drmservice media_rw_data_file:file { create getattr open setattr write };
allow drmservice oemfs:dir { open read };
allow drmservice oemfs:file { getattr open read };
allow drmservice metadata_file:dir { search write add_name setattr };
allow drmservice metadata_file:file { rw_file_perms create setattr };
allow drmservice gpu_file:file { rw_file_perms create setattr };
