allow hal_wifi_default self:capability { dac_override dac_read_search };
allow hal_wifi_default wifi_data_file:dir search;
allow hal_wifi_default sysfs:file write;
allow hal_wifi_default proc:file open;
allow hal_wifi_default proc:file read;
allow hal_wifi_default proc_modules:file open;
allow hal_wifi_default proc_modules:file read;
allow hal_wifi_default proc_modules:file getattr;
allow hal_wifi_default wifi_data_file:dir search;
allow hal_wifi_default wifi_data_file:dir write;
allow hal_wifi_default wifi_data_file:dir add_name;
allow hal_wifi_default wifi_data_file:dir remove_name;
allow hal_wifi_default wifi_data_file:file setattr;
allow hal_wifi_default wifi_data_file:file create;
allow hal_wifi_default wifi_data_file:file { open read write };
allow hal_wifi_default wifi_data_file:file unlink;
allow hal_wifi_default vendor_file:system module_load;
allow hal_wifi_default kernel:system module_request;
allow hal_wifi_default self:capability chown;
allow hal_wifi_default self:capability { dac_override dac_read_search sys_module };
