allow dhcp system_file:dir { read open add_name };
allow dhcp ppp_exec:file { execute getattr read open execute_no_trans };
allow dhcp system_data_file:dir { write add_name read open read open search remove_name };
#allow dhcp system_data_file:file { open write create setattr append read getattr unlink };
allow dhcp dhcp_exec:file { execute_no_trans execute };
allow dhcp dhcp:capability { dac_override };
allow dhcp dhcp:packet_socket { create read setopt bind write ioctl };
allow dhcp dhcp:socket { create connect ioctl };
allow dhcp dhcp:udp_socket { create ioctl };
allow dhcp ppp_device:chr_file { read write open ioctl };
allow dhcp properties_device:dir {read open };
allow dhcp proc_stat:file {read open getattr};
allow dhcp proc_modules:file { read open getattr };
allow dhcp proc_net:file { read open getattr };
allow dhcp {net_radio_prop system_prop}:property_service { set };
allow dhcp domain:file { read open };
allow dhcp domain:dir { getattr search };
allow dhcp proc_modules:file { read open getattr };
allowxperm dhcp self:packet_socket ioctl { unpriv_sock_ioctls priv_sock_ioctls unpriv_tty_ioctls };
allowxperm dhcp dhcp:socket ioctl ppp_ioctls;
allowxperm dhcp self:udp_socket ioctl priv_sock_ioctls;
