allow priv_app drm_prop:file { open read getattr };
allow priv_app system_prop:file read;
allow priv_app gpu_device:dir { search };
allow priv_app vfat:dir create_dir_perms;
allow priv_app vfat:file create_file_perms;
allow priv_app cache_private_backup_file:dir getattr;
allow priv_app vendor_file:file { execute getattr open read };

allow priv_app bootanim_exec:file getattr;
allow priv_app bootstat_exec:file getattr;
allow priv_app cameraserver_exec:file getattr;
allow priv_app dnsmasq_exec:file getattr;
allow priv_app drmserver_exec:file getattr;
allow priv_app dumpstate_exec:file getattr;
allow priv_app fsck_exec:file getattr;
allow priv_app gatekeeperd_exec:file getattr;
allow priv_app healthd_exec:file getattr;
allow priv_app hwservicemanager_exec:file getattr;
allow priv_app installd_exec:file getattr;
allow priv_app keystore_exec:file getattr;
allow priv_app lmkd_exec:file getattr;
allow priv_app logd_exec:file getattr;
allow priv_app mediadrmserver_exec:file getattr;
allow priv_app mediaextractor_exec:file getattr;
allow priv_app mediametrics_exec:file getattr;
allow priv_app mediaserver_exec:file getattr;
allow priv_app mtp_exec:file getattr;
allow priv_app netd_exec:file getattr;
allow priv_app ppp_exec:file getattr;
allow priv_app profman_exec:file getattr;
allow priv_app racoon_exec:file getattr;
allow priv_app sdcardd_exec:file getattr;
allow priv_app servicemanager_exec:file getattr;
allow priv_app sgdisk_exec:file getattr;
allow priv_app tombstoned_exec:file getattr;
allow priv_app tzdatacheck_exec:file getattr;
allow priv_app vold_exec:file getattr;

allow priv_app blkid_untrusted:file getattr;
allow priv_app clatd_exec:file getattr;
allow priv_app idmap_exec:file getattr;
allow priv_app incident:file getattr;
allow priv_app incidentd:file getattr;
allow priv_app mdnsd:file getattr;
allow priv_app storaged_service:file getattr;
allow priv_app surfaceflinger:file getattr;
allow priv_app uncrypt_exec:file getattr;
allow priv_app vdc_exec:file getattr;
allow priv_app webview_zygote_exec:file getattr;
allow priv_app wificond_exec:file getattr;

allow priv_app proc_interrupts:file read;
allow priv_app proc_modules:file { getattr open read };
allow priv_app device:dir { open read };
allow priv_app proc_interrupts:file open;

binder_call(priv_app, audioserver)
allow priv_app hal_memtrack_hwservice:hwservice_manager find;
allowxperm priv_app self:udp_socket ioctl { SIOCGIWESSID };
r_dir_file(priv_app, sysfs_type)

allow priv_app metadata_file:dir { search getattr };
allow priv_app gpu_file:file rw_file_perms;
get_prop(priv_app,ctsgts_prop)
get_prop(priv_app,media_prop)
allow priv_app proc_stat:file { getattr open read };
