allow shell serial_device:chr_file rw_file_perms;
allow shell surfaceflinger:fifo_file rw_file_perms;
allow shell bootanim_exec:file getattr;
allow shell proc_cpuinfo:file mounton;
allow shell gpu_device:dir { search };
allow shell init_exec:file getattr;
allow shell metadata_file:dir getattr;
allow shell rootfs:file getattr;

allow shell sysfs:file { getattr read open };
allow shell vendor_file:file { read open getattr execute };

allow shell boottime_prop:file { getattr open };
allow shell dumpstate_options_prop:file { getattr open };
allow shell net_dns_prop:file { getattr open };
allow shell overlay_prop:file { getattr open };
allow shell persistent_properties_ready_prop:file { getattr open };
allow shell secureboot_prop:file { getattr open };
allow shell wifi_prop:file { getattr open };

allow shell gatekeeper_service:service_manager find;
allow shell sysfs_batteryinfo:file { open read getattr };

binder_call(shell, wificond)

get_prop(shell, media_prop)
get_prop(shell, drm_prop)
get_prop(shell, graphic_prop)
get_prop(shell, safemode_prop)
get_prop(shell, mmc_prop)
get_prop(shell, device_logging_prop)
get_prop(shell, ctsgts_prop)

allow shell metadata_file:dir { search getattr rw_dir_perms };
allow shell gpu_file:file rw_file_perms;
allow shell metadata_file:file r_file_perms;
# read files in /data/logs
allow shell aplog_data_file:dir r_dir_perms;
allow shell aplog_data_file:file r_file_perms;
