# example: FOTA service.
#type fo_sl_enhance_service, app_api_service, system_api_service, system_server_service, service_manager_type;

type drm_device_management_service, app_api_service, system_api_service, system_server_service, service_manager_type;
