vndbinder_use(hal_camera_default);
binder_call(hal_camera_default, hal_graphics_composer)
binder_call(hal_camera_default, hal_graphics_allocator_default)
binder_call(hal_camera_default, system_server)

allow hal_camera_default rga_device:chr_file { ioctl open read write };
allow hal_camera_default gpu_device:dir { search };
allow hal_camera_default gpu_device:chr_file { rw_file_perms ioctl };
allow hal_camera_default graphic_prop:file { open read  getattr };
allow hal_camera_default graphic_prop:property_service set;
allow hal_camera_default init:unix_stream_socket connectto;
allow hal_camera_default property_socket:sock_file write;
allow hal_camera_default vndbinder_device:chr_file { read write open ioctl };
allow hal_camera_default hal_graphics_mapper_hwservice:hwservice_manager find;
allow hal_camera_default hal_graphics_allocator_hwservice:hwservice_manager find;
allow hal_camera_default self:capability sys_nice;
allow hal_camera_default metadata_file:dir { search };
allow hal_camera_default gpu_file:file rw_file_perms;
allow hal_camera_default sysfs:dir { read open };
allow hal_camera_default sysfs:file { read open getattr };
allow hal_camera_default debugfs:dir { read open };
allow hal_camera_default camdata_file:file { rw_file_perms unlink setattr create getattr };
allow hal_camera_default camdata_file:dir { search write add_name remove_name };

set_prop(hal_camera_default,system_prop)
