allow mediaserver system_server:unix_stream_socket { read write };
allow mediaserver surfaceflinger:unix_stream_socket { read write };
allow mediaserver system_prop:property_service set;
#allow mediaserver default_prop:property_service set;
allow mediaserver ion_device:chr_file rw_file_perms;
allow mediaserver sysfs:dir { open read };
allow mediaserver video_device:chr_file rw_file_perms;
allow mediaserver rga_device:chr_file rw_file_perms;
allow mediaserver camdata_file:dir create_dir_perms;
allow mediaserver camdata_file:file create_file_perms;
allow mediaserver untrusted_app:dir search;
allow mediaserver untrusted_app:file { open read };

allow mediaserver bootanim:binder { call };
allow mediaserver bootanim:binder { transfer };
allow mediaserver system_data_file:dir { write };
allow mediaserver system_data_file:dir { add_name };
#allow mediaserver system_data_file:file { create };
allow mediaserver storage_file:dir { search };
allow mediaserver storage_file:lnk_file { read };
allow mediaserver mnt_user_file:dir { search };
allow mediaserver mnt_user_file:lnk_file { read };
allow mediaserver sensorservice_service:service_manager { find };
allow mediaserver graphic_prop:property_service  { set };
allow mediaserver media_prop:property_service  { set };
allow mediaserver surfaceflinger:fifo_file rw_file_perms;

allow mediaserver sysfs_hdmi:file rw_file_perms;
allow mediaserver camera_device:chr_file rw_file_perms;
allow mediaserver debugfs_tracing:file rw_file_perms;
allow mediaserver gpu_device:dir { search };
allow mediaserver graphic_prop:file { read getattr open };
allow mediaserver storage_device:chr_file { open read ioctl};
# obtain calling info
allow mediaserver platform_app:dir { search };
allow mediaserver platform_app:file { read open };
allow mediaserver untrusted_app:dir { search };
allow mediaserver untrusted_app:file { read open };

set_prop(mediaserver, media_prop)
set_prop(mediaserver, drm_prop)
set_prop(mediaserver, ctsgts_prop)
get_prop(mediaserver, ctsgts_prop)
get_prop(mediaserver, media_prop)

binder_call(mediaserver, hal_configstore_default)

#move to vendor
allow mediaserver vendor_file:file { open read getattr execute };
allow mediaserver tmpfs:lnk_file { open read };
allow mediaserver sysfs:file write;
allow mediaserver metadata_file:dir search;
allow mediaserver gpu_file:file rw_file_perms;
allow mediaserver hal_configstore_ISurfaceFlingerConfigs:hwservice_manager { find };
allow mediaserver sdcardfs:dir write;
allow mediaserver system_data_file:dir create;
