allow untrusted_app_25 media_prop:file { open read };
allow untrusted_app_25 proc_stat:file { open read };
allow untrusted_app_25 proc_ostype:file { open read getattr };
allow untrusted_app_25 sysfs:file { open read execute getattr };
allow untrusted_app_25 gpu_device:dir { search getattr };
allow untrusted_app_25 vendor_file:file { open read execute getattr };

allow untrusted_app_25 block_device:dir getattr;

allow untrusted_app_25 boottime_prop:file { getattr open };
allow untrusted_app_25 device_logging_prop:file { getattr open };
allow untrusted_app_25 dm_device:blk_file getattr;
allow untrusted_app_25 dumpstate_options_prop:file { getattr open };
allow untrusted_app_25 e2fsck_cache_block_device:blk_file getattr;
allow untrusted_app_25 metadata_block_device:blk_file getattr;
allow untrusted_app_25 graphic_prop:file { getattr open };
allow untrusted_app_25 logpersistd_logging_prop:file { getattr open };
allow untrusted_app_25 mmc_prop:file { getattr open };
allow untrusted_app_25 overlay_prop:file { getattr open };
allow untrusted_app_25 persistent_properties_ready_prop:file { getattr open };
allow untrusted_app_25 safemode_prop:file { getattr open };
allow untrusted_app_25 secureboot_prop:file { getattr open };
allow untrusted_app_25 system_block_device:blk_file getattr;
allow untrusted_app_25 wifi_prop:file { getattr open };
allow untrusted_app_25 dhcp_prop:file { getattr open };

allow untrusted_app_25 sysfs_wifi:dir { search };
allow untrusted_app_25 sysfs_wifi:file { read };

get_prop(untrusted_app_25, drm_prop)
get_prop(untrusted_app_25, media_prop)
get_prop(untrusted_app_25, ctsgts_prop)

allow untrusted_app_25 metadata_file:dir { search getattr };
allow untrusted_app_25 gpu_file:file  rw_file_perms;
allow untrusted_app_25 system_data_file:file r_file_perms;
allow untrusted_app_25 system_data_file:file { open execute};
allow untrusted_app_25 oemfs:file {execmod};
